In [28]:
import pandas as pd
import numpy as np

In [29]:
df = pd.read_csv('pesquisa_satisfacao.csv', sep = ';')
df
#para conferir se está correto verificar as 5 primeiras linhas ( df.head(5) )
#display(df)
#print(df)

         Cliente Satisfação  Tempo de Espera (min)
0         Naruto       Alta                      8
1           Goku       Alta                     10
2         Vegeta      Média                     17
3         Sasuke       Alta                      8
4         Madara      Média                     15
5          Luffy      Baixa                      5
6           Zoro       Alta                     22
7          Sanji      Baixa                     26
8         Yusuke      Baixa                     14
9         Kurama      Média                      8
10           Gon      Média                     12
11          Eren      Média                     28
12        Mikasa       Alta                      6
13         Light       Alta                     10
14             L       Alta                     19
15  Peter Parker      Baixa                     21
16   Bruce Wayne       Alta                     18
17        Thanos      Média                     19
18       Edmundo      Baixa                     13
19       Vegetti      Média                     19

In [30]:
#formula do groupby para poder visualizar colunas especificas
media_satisfacao = df.groupby('Satisfação')['Tempo de Espera (min)'].mean().reset_index()
media_satisfacao['Tempo de Espera (min)'] = round(media_satisfacao['Tempo de Espera (min)'],2)
media_satisfacao

  Satisfação  Tempo de Espera (min)
0       Alta                  12.62
1      Baixa                  15.80
2      Média                  16.86

In [31]:
df_anp = pd.read_csv('ANP2025.csv', sep = ';' )
df_anp

C:\Users\stephany.andrade\AppData\Local\Temp\ipykernel_13184\3759094566.py:1: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df_anp = pd.read_csv('ANP2025.csv', sep = ';' )

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
0,NE,CE,SOBRAL,ECONOGÁS DO BRASIL DIST. DERIV. DE PET. BIOC. ...,08.775.979/0002-62,RUA TABELIÃO IDELFONSO CAVALCANTI,455,NaN,CENTRO,62010-000,GASOLINA,01/01/2025,"6,29",NaN,R$ / litro,RAIZEN
1,NE,CE,SOBRAL,ECONOGÁS DO BRASIL DIST. DERIV. DE PET. BIOC. ...,08.775.979/0002-62,RUA TABELIÃO IDELFONSO CAVALCANTI,455,NaN,CENTRO,62010-000,GASOLINA ADITIVADA,01/01/2025,"6,49",NaN,R$ / litro,RAIZEN
2,NE,CE,SOBRAL,ECONOGÁS DO BRASIL DIST. DERIV. DE PET. BIOC. ...,08.775.979/0002-62,RUA TABELIÃO IDELFONSO CAVALCANTI,455,NaN,CENTRO,62010-000,DIESEL S10,01/01/2025,"6,19",NaN,R$ / litro,RAIZEN
3,NE,CE,SOBRAL,ECONOGÁS DO BRASIL DIST. DERIV. DE PET. BIOC. ...,08.775.979/0002-62,RUA TABELIÃO IDELFONSO CAVALCANTI,455,NaN,CENTRO,62010-000,ETANOL,01/01/2025,"5,19",NaN,R$ / litro,RAIZEN
4,NE,CE,SOBRAL,V.C.EMPREENDIMENTOS LTDA,03.551.935/0002-35,AVENIDA JOSE EUCLIDES FERREIRA GOMES,30,POSTO FLASH,CORACAO DE JESUS,62043-070,GASOLINA,01/01/2025,"6,53",NaN,R$ / litro,RAIZEN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429518,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429521,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429522,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
#identificando apenas as 5 primeiras colunas onde aparece rj - loc serve como filtro
df_anp_rj = df_anp.loc[df_anp['Estado - Sigla'] == 'RJ']
df_anp_rj.head(5)

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
54,SE,RJ,CAMPOS DOS GOYTACAZES,POSTO DE COMBUSTIVEIS CONTORNO DE CAMPOS LTDA,31.212.889/0002-85,AVENIDA NILO PECANHA,614,/822 PATIO,PQ SANTO AMARO,28030-035,GNV,01/01/2025,"5,39",NaN,R$ / m³,VIBRA
55,SE,RJ,CAMPOS DOS GOYTACAZES,POSTO DE COMBUSTIVEIS CONTORNO DE CAMPOS LTDA,31.212.889/0002-85,AVENIDA NILO PECANHA,614,/822 PATIO,PQ SANTO AMARO,28030-035,GASOLINA,01/01/2025,"6,49",NaN,R$ / litro,VIBRA
56,SE,RJ,CAMPOS DOS GOYTACAZES,POSTO DE COMBUSTIVEIS CONTORNO DE CAMPOS LTDA,31.212.889/0002-85,AVENIDA NILO PECANHA,614,/822 PATIO,PQ SANTO AMARO,28030-035,GASOLINA ADITIVADA,01/01/2025,"6,69",NaN,R$ / litro,VIBRA
57,SE,RJ,CAMPOS DOS GOYTACAZES,POSTO DE COMBUSTIVEIS CONTORNO DE CAMPOS LTDA,31.212.889/0002-85,AVENIDA NILO PECANHA,614,/822 PATIO,PQ SANTO AMARO,28030-035,ETANOL,01/01/2025,"4,79",NaN,R$ / litro,VIBRA
58,SE,RJ,CAMPOS DOS GOYTACAZES,POSTO DE COMBUSTIVEIS B J LTDA,06.211.735/0001-40,RUA BENEDITO QUEIROZ,1,NaN,TURF CLUB,28024-040,GASOLINA,01/01/2025,"6,42",NaN,R$ / litro,BRANCA

In [33]:
#substituindo a virgula pelo ponto - str é a formula string e para poder mudar é str.replace (replace - dizendo que vou troacr algo nessa string ) (nome da variavel mais a alteração que eu vou fazer)
df_anp_rj['Valor de Venda'] = df_anp_rj['Valor de Venda'].str.replace(',' , '.').astype(float)

C:\Users\stephany.andrade\AppData\Local\Temp\ipykernel_13184\1808706148.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_anp_rj['Valor de Venda'] = df_anp_rj['Valor de Venda'].str.replace(',' , '.').astype(float)

In [34]:
media_munic_rj = df_anp_rj.groupby('Municipio')['Valor de Venda'].mean().reset_index()
media_munic_rj = media_munic_rj.sort_values(by='Valor de Venda', ascending=False)
media_munic_rj

                 Municipio  Valor de Venda
0           ANGRA DOS REIS        6.470086
10                   MACAE        6.224548
24               TRES RIOS        6.206138
2           BARRA DO PIRAI        6.168793
23               SAQUAREMA        6.070452
9                ITAPERUNA        6.069675
16              PETROPOLIS        6.064262
1                 ARARUAMA        6.030011
5                CABO FRIO        6.029144
6    CAMPOS DOS GOYTACAZES        6.020561
14           NOVA FRIBURGO        6.010355
26           VOLTA REDONDA        5.990214
25                 VALENCA        5.945307
3              BARRA MANSA        5.891807
20  SANTO ANTONIO DE PADUA        5.864975
11                  MARICA        5.750767
18              RIO BONITO        5.743828
17                 RESENDE        5.648785
19          RIO DE JANEIRO        5.639952
15             NOVA IGUACU        5.617374
8                 ITABORAI        5.559130
4             BELFORD ROXO        5.554597
21             SAO GONCALO        5.543540
7          DUQUE DE CAXIAS        5.522046
22      SAO JOAO DE MERITI        5.515125
12               NILOPOLIS        5.490146
13                 NITEROI        5.488851

In [35]:
array_valor_venda = np.array(media_munic_rj['Valor de Venda'])

In [36]:
media = np.mean(array_valor_venda)
mediana = np.median(array_valor_venda)
q1 = np.quantile(array_valor_venda, 0.25)
q2 = np.quantile(array_valor_venda, 0.50)
q3 = np.quantile(array_valor_venda, 0.75)

print(f'A média é {media}')
print(f'A mediana é {mediana}')
print(f'Primeiro quartil (Q1): {q1}')
print(f'Segundo quartil (Q2, Mediana): {q2}')
print(f'Terceiro quartil (Q3): {q3}')

A média é 5.856684177816972
A mediana é 5.891806930693069
Primeiro quartil (Q1): 5.588252288329519
Segundo quartil (Q2, Mediana): 5.891806930693069
Terceiro quartil (Q3): 6.047136868364782

In [37]:
munic_acima_q3 = media_munic_rj.loc[media_munic_rj['Valor de Venda'] > q3]
munic_acima_q3

         Municipio  Valor de Venda
0   ANGRA DOS REIS        6.470086
10           MACAE        6.224548
24       TRES RIOS        6.206138
2   BARRA DO PIRAI        6.168793
23       SAQUAREMA        6.070452
9        ITAPERUNA        6.069675
16      PETROPOLIS        6.064262

In [38]:
#formula do groupby para poder visualizar colunas especificas
media_satisfacao = df.groupby('Satisfação')['Tempo de Espera (min)'].mean().reset_index()
media_satisfacao['Tempo de Espera (min)'] = round(media_satisfacao['Tempo de Espera (min)'],2)
media_satisfacao

  Satisfação  Tempo de Espera (min)
0       Alta                  12.62
1      Baixa                  15.80
2      Média                  16.86

In [39]:
df_rj_etanol = df_anp.loc[(df_anp['Municipio'] == 'RIO DE JANEIRO') & (df_anp['Produto'] == 'ETANOL')]
df_rj_etanol

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
1000,SE,RJ,RIO DE JANEIRO,POSTO MANÉ GARRINCHA DE BOTAFOGO LTDA.,07.877.289/0001-70,RUA VOLUNTARIOS DA PATRIA,308,NaN,BOTAFOGO,22270-010,ETANOL,02/01/2025,"4,49",NaN,R$ / litro,RAIZEN
1004,SE,RJ,RIO DE JANEIRO,POSTO DE GASOLINA GASOAL LTDA,05.159.154/0001-44,RUA VINTE E QUATRO DE MAIO,871,NaN,ENGENHO NOVO,20950-091,ETANOL,02/01/2025,"4,09",NaN,R$ / litro,BRANCA
1009,SE,RJ,RIO DE JANEIRO,POSTO CATEDRAL LTDA,27.838.044/0001-41,AVENIDA MEM DE SA,55,NaN,CENTRO,20230-150,ETANOL,02/01/2025,"4,49",NaN,R$ / litro,RAIZEN
1013,SE,RJ,RIO DE JANEIRO,POSTO PALACIO GUANABARA LTDA,04.816.108/0001-08,RUA PINHEIRO MACHADO,83,83/FUNDOS,LARANJEIRAS,22231-090,ETANOL,02/01/2025,"4,69",NaN,R$ / litro,RAIZEN
1018,SE,RJ,RIO DE JANEIRO,AUTO POSTO ATERRO DO FLAMENGO LTDA,01.309.199/0001-05,AVENIDA INFANTO DOM HENRIQUE,S/N,NaN,FLAMENGO,20021-140,ETANOL,02/01/2025,"5,70",NaN,R$ / litro,VIBRA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418188,SE,RJ,RIO DE JANEIRO,POSTO DE GASOLINA CIDADE DE DEUS LTDA,11.333.439/0001-52,ESTRADA DO GABINAL,1955,NaN,CIDADE DE DEUS,22763-153,ETANOL,30/06/2025,"4,19",NaN,R$ / litro,IPIRANGA
418246,SE,RJ,RIO DE JANEIRO,BARRA GAS COMERCIO E SERVICOS LTDA,11.513.372/0001-38,AVENIDA AYRTON SENNA,9201,NaN,JACAREPAGUA,22775-004,ETANOL,30/06/2025,"4,29",NaN,R$ / litro,IPIRANGA
418257,SE,RJ,RIO DE JANEIRO,CENTRO DE ABASTECIMENTO CHESSED LTDA,11.054.754/0001-40,AVENIDA AMARO CAVALCANTI,2554,A 2562 LOJA,ENGENHO DE DENTRO,20735-042,ETANOL,30/06/2025,"4,09",NaN,R$ / litro,BRANCA
418842,SE,RJ,RIO DE JANEIRO,AUTO POSTO LUAR DA RIO SANTOS II LTDA,11.217.808/0001-41,ESTRADA DO GUANDU ESQ.C/ BR 101,SN,KM 388 AREA REM III LOTE 210 SENTIDO RJ,SANTA CRUZ,23560-150,ETANOL,30/06/2025,"4,29",NaN,R$ / litro,RAIZEN
419214,SE,RJ,RIO DE JANEIRO,AUTO POSTO LUAR DA RIO SANTOS I LTDA,11.103.499/0001-89,ESTRADA DO GANDU ESQ C/BR101,SN,KM 388 AREA REM I LOTE 209 SENTIDO ANGRA,SANTA CRUZ,23560-150,ETANOL,30/06/2025,"4,39",NaN,R$ / litro,RAIZEN

In [40]:
#substituindo a virgula pelo ponto - str é a formula string e para poder mudar é str.replace (replace - dizendo que vou troacr algo nessa string ) (nome da variavel mais a alteração que eu vou fazer)
df_rj_etanol['Valor de Venda'] = df_rj_etanol['Valor de Venda'].str.replace(',' , '.').astype(float)

C:\Users\stephany.andrade\AppData\Local\Temp\ipykernel_13184\3651720738.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rj_etanol['Valor de Venda'] = df_rj_etanol['Valor de Venda'].str.replace(',' , '.').astype(float)

In [41]:
bairro_etanol = df_rj_etanol.groupby('Bairro')['Valor de Venda'].mean().reset_index()
bairro_etanol = bairro_etanol.sort_values(by='Valor de Venda', ascending=False)
bairro_etanol

                                  Bairro  Valor de Venda
17                              FLAMENGO        5.700000
27                       JARDIM BOTANICO        5.137619
50                        VARGEM PEQUENA        5.035000
29                                 LAGOA        4.906667
19                                 GAVEA        4.890000
30                           LARANJEIRAS        4.860833
31                                LEBLON        4.823333
23                             ITANHANGA        4.802000
51                         VASCO DA GAMA        4.795556
26  JARDIM  GUANABARA-ILHA DO GOVERNADOR        4.790000
20                                GLORIA        4.790000
28                        JARDIM CARIOCA        4.780000
45                            SANTISSIMO        4.779286
25                           JACAREPAGUÁ        4.778235
5                               BOTAFOGO        4.745814
3                                BENFICA        4.743846
37                               PILARES        4.715000
40                   RECREIO DOS BANDEIR        4.715000
10                                CENTRO        4.702500
16                               ESTÁCIO        4.690000
22                        ILHA DO FUNDÃO        4.690000
4                             BONSUCESSO        4.690000
53                          VISTA ALEGRE        4.661429
41              RECREIO DOS BANDEIRANTES        4.661111
7                                   CAJU        4.646250
49                                TIJUCA        4.639091
44                            SANTA CRUZ        4.638090
12                          DEL CASTILHO        4.628873
2                        BARRA DA TIJUCA        4.612042
1                                  BANGU        4.572857
15                               ESTACIO        4.554000
48                               TAQUARA        4.546400
0                               ANCHIETA        4.544286
36                                 PENHA        4.519333
24                           JACAREPAGUA        4.505407
21                             GUADALUPE        4.502500
33                             PACIENCIA        4.490000
47                         SÃO CRISTÓVÃO        4.478462
35                             PECHINCHA        4.474490
8                           CAMPO GRANDE        4.474079
46                         SAO CRISTOVAO        4.459730
52                         VILA DA PENHA        4.412222
14                          ENGENHO NOVO        4.392424
39                                 RAMOS        4.379583
18               FREGUESIA (JACAREPAGUA)        4.334444
34                          PADRE MIGUEL        4.315000
9                                CATUMBI        4.307391
32                                OLARIA        4.305200
13                     ENGENHO DE DENTRO        4.236923
6                           BRAZ DE PINA        4.205000
42                          RIO COMPRIDO        4.205000
38                            PRACA SECA        4.190000
11                        CIDADE DE DEUS        4.173333
43                         ROCHA MIRANDA        4.170000

In [42]:
q3=df_rj_etanol['Valor de Venda'].quantile(0.75)
bairro_etanol=df_rj_etanol[df_rj_etanol['Valor de Venda']>= q3]
bairro_etanol.sort_values(by='Valor de Venda', ascending=False)
bairro_etanol

,Regiao - Sigla,Estado - Sigla,Municipio,Revenda,CNPJ da Revenda,Nome da Rua,Numero Rua,Complemento,Bairro,Cep,Produto,Data da Coleta,Valor de Venda,Valor de Compra,Unidade de Medida,Bandeira
1018,SE,RJ,RIO DE JANEIRO,AUTO POSTO ATERRO DO FLAMENGO LTDA,01.309.199/0001-05,AVENIDA INFANTO DOM HENRIQUE,S/N,NaN,FLAMENGO,20021-140,ETANOL,02/01/2025,5.70,NaN,R$ / litro,VIBRA
5708,SE,RJ,RIO DE JANEIRO,AUTO POSTO DE GASOLINA PORTELA DOIS LTDA,02.190.194/0001-60,AVENIDA BRASIL,51201,NaN,SANTA CRUZ,23575-000,ETANOL,06/01/2025,4.79,NaN,R$ / litro,RAIZEN
11988,SE,RJ,RIO DE JANEIRO,POSTO DE GASOLINA ESTRADA DOS BANDEIRANTES DE ...,07.764.297/0001-00,ESTRADA DOS BANDEIRANTES,13951,NaN,VARGEM PEQUENA,22783-112,ETANOL,07/01/2025,5.09,NaN,R$ / litro,RAIZEN
11998,SE,RJ,RIO DE JANEIRO,AUTO POSTO ML SATURNINO DE BRITO LTDA,07.020.369/0001-05,RUA JARDIM BOTANICO,681,C/ ENTRADA SUPLEM. - R. SATURNINO DE BRITO N 15,JARDIM BOTANICO,22470-050,ETANOL,07/01/2025,4.89,NaN,R$ / litro,RAIZEN
12018,SE,RJ,RIO DE JANEIRO,POSTO PALACIO GUANABARA LTDA,04.816.108/0001-08,RUA PINHEIRO MACHADO,83,83/FUNDOS,LARANJEIRAS,22231-090,ETANOL,07/01/2025,4.79,NaN,R$ / litro,RAIZEN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
406606,SE,RJ,RIO DE JANEIRO,POSTO JARDIM OCEANICO LTDA.,03.317.678/0001-90,AVENIDA OLEGARIO MACIEL,319,NaN,BARRA DA TIJUCA,22621-200,ETANOL,25/06/2025,5.19,NaN,R$ / litro,BRANCA
406615,SE,RJ,RIO DE JANEIRO,GOLDEN GREEN AUTO POSTO LTDA,02.373.202/0001-04,AVENIDA LUCIO COSTA,5130,NaN,BARRA DA TIJUCA,22630-012,ETANOL,25/06/2025,4.79,NaN,R$ / litro,VIBRA
406623,SE,RJ,RIO DE JANEIRO,AUTO POSTO DE SERVICOS MARISOL LTDA,00.712.637/0001-00,AVENIDA SERNAMBETIBA,16500,NaN,RECREIO DOS BANDEIR,22795-000,ETANOL,25/06/2025,4.79,NaN,R$ / litro,IPIRANGA
414556,SE,RJ,RIO DE JANEIRO,AUTO POSTO DE GASOLINA PORTELA DOIS LTDA,02.190.194/0001-60,AVENIDA BRASIL,51201,NaN,SANTA CRUZ,23575-000,ETANOL,30/06/2025,4.99,NaN,R$ / litro,RAIZEN
414591,SE,RJ,RIO DE JANEIRO,POSTO GASTOTAL LTDA,00.091.610/0001-48,AVENIDA GEREMARIO DANTAS,88,NaN,JACAREPAGUÁ,22735-010,ETANOL,30/06/2025,4.79,NaN,R$ / litro,IPIRANGA

In [43]:
###EXERCICIO - FURTO DE CELULAR - FILTRAR OS DADOS REFERENTE A FURTO DE CELULAR

In [44]:
df = pd.read_csv('https://www.ispdados.rj.gov.br/Arquivos/BaseDPEvolucaoMensalCisp.csv', sep= ';', encoding= 'latin1')

In [45]:
df_roubo_celular_dp = df.groupby('munic')['roubo_celular'].mean().reset_index()
df_roubo_celular_dp = df_roubo_celular_dp.sort_values(by='roubo_celular', ascending= False)
df_roubo_celular_dp

                      munic  roubo_celular
81     SÃ£o JoÃ£o de Meriti      38.032847
6              Belford Roxo      25.514599
50             Nova IguaÃ§u      23.274939
47               NilÃ³polis      20.675182
23          Duque de Caxias      18.880474
..                      ...            ...
35          Laje do MuriaÃ©       0.007299
22              Duas Barras       0.003650
83  SÃ£o SebastiÃ£o do Alto       0.003650
86        Trajano de Morais       0.003650
66           Rio das Flores       0.000000

[90 rows x 2 columns]

In [46]:
df_roubo_celular_dp['roubo_celular'] = df_roubo_celular_dp['roubo_celular'].replace(',' , '.').astype(float)

In [47]:
array_furto_celular = np.array(df_roubo_celular_dp['roubo_celular'])

In [48]:
media  = np.mean(array_furto_celular)
mediana  = np.mean(array_furto_celular)
q1 = np.quantile(array_furto_celular, 0.25)
q2 = np.quantile(array_furto_celular, 0.50)
q3 = np.quantile(array_furto_celular, 0.75)
distancia = ( media - mediana ) / mediana

print(f'A média é {media}')
print(f'A mediana é {mediana}')
print(f'Primeiro quartil (Q1): {q1}')
print(f'Segundo quartil (Q2), Mediana: {q2}')
print(f'Primeiro quartil (Q3): {q3}')
print(f'A distancia entre a media e a mediana é de {distancia}')

A média é 3.2473421844732178
A mediana é 3.2473421844732178
Primeiro quartil (Q1): 0.06275422076112999
Segundo quartil (Q2), Mediana: 0.36496350364963503
Primeiro quartil (Q3): 2.89507299270073
A distancia entre a media e a mediana é de 0.0

In [ ]:
q1 = df_roubo_celular_dp['roubo_celular'].quantile(0.25)
array_furto_celular=df_roubo_celular_dp[df_roubo_celular_dp['roubo_celular'] & df_roubo_celular_dp['munic']]
array_furto_celular.sort_values(by='roubo_celular', ascending=False)
array_furto_celular

TypeError: unsupported operand type(s) for &: 'float' and 'str'

In [ ]:
###Furtos de Celular no ano de 2024 nas cidades da região metropolitana do Estado.Seu trabalho é avaliar qual a melhor medida de tendência central para avaliar este tipo de ocorrência neste período de tempo.